[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Prabhueswa
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Prabhueswa
	label-Verified = -1..+1 group user/Prabhueswa
	push = group user/Prabhueswa
	read = group user/Prabhueswa
	rebase = group user/Prabhueswa
	removeReviewer = group user/Prabhueswa
	submit = group user/Prabhueswa
[access "refs/heads/*"]
	create = group user/Prabhueswa
	push = +force group user/Prabhueswa
	pushMerge = group user/Prabhueswa
	read = group user/Prabhueswa
[access "refs/tags/*"]
	push = group user/Prabhueswa
	push = +force group user/Prabhueswa
